[submodule "HRealEngine/vendor/spdlog"]
	path = HRealEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HRealEngine/vendor/GLFW"]
	path = HRealEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "HRealEngine/vendor/glm"]
	path = HRealEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "HRealEngine/vendor/yaml-cpp"]
	path = HRealEngine/vendor/yaml-cpp
	url = https://github.com/haktan313/yaml-cpp.git
[submodule "HRealEngine/vendor/ImGuizmo/ImGuizmo"]
	path = HRealEngine/vendor/ImGuizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "HRealEngine/vendor/box2d"]
	path = HRealEngine/vendor/box2d
	url = https://github.com/TheCherno/box2d.git
[submodule "HRealEngine/vendor/JoltPhysics"]
	path = HRealEngine/vendor/JoltPhysics
	url = https://github.com/haktan313/JoltPhysics.git
[submodule "HRealEngine/vendor/imgui"]
	path = HRealEngine/vendor/imgui
	url = https://github.com/haktan313/imgui.git
	branch = docking
[submodule "HRealEngine/vendor/assimp"]
    path = HRealEngine/vendor/assimp
    url = https://github.com/haktan313/assimp.git
[submodule "HRealEngine/vendor/msdf-atlas-gen"]
	path = HRealEngine/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen.git
